<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>

<div>
<app-child-two (Moreinfo)="Getinfo($event)"></app-child-two>
</div>
  
<div>
  Implemention of Component One 
<app-child-one [studentRollNumber]="rollnumber"></app-child-one>
<app-child-one [StudentName]="name"></app-child-one>
<app-child-one [StudentCity]="city"></app-child-one>
<app-child-one [StudentState]="state"></app-child-one>
<button (click)="getData()">Get Data From Componet one</button>
</div>

<h3>{{message}}</h3>